.about {
    background-image: url('../../assets/images/test--ABUS_HERO\ 1.png');
    padding: 250px 0;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-position: bottom;
    margin-top: -185px;
}

.about .about--detial h2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
}

.about .about--detial p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    font-size: 25px;
    color: #ECECEC;

}

@media screen and (max-width : 1400px) {

    .about .about--detial h2 {
        font-size: 40px;
    }

    .about .about--detial p {
        font-size: 20px;
    }
}

@media screen and (max-width : 1200px) {
    .about {
        padding: 170px 0;
    }

    .about .about--detial {
        padding-top: 50px;
    }

}

@media screen and (max-width : 860px) {
    .about {
        margin-top: -110px;

    }

    .about {
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width : 767px) {
    .about {
        margin-top: -125px;

    }

    .about {
        height: 500px;
    }

    .about .about--detial h2 {
        font-size: 50px;
    }
}

@media screen and (max-width : 600px) {
    .about .about--detial p {
        font-size: 20px;
    }

    .about .about--detial h2 {
        font-size: 35px;
        line-height: 35px;
    }

    .about {
        height: 400px;
    }

    .about .about--detial {
        padding-top: 100px;
    }

}