header {
    padding: 70px 0;
    position: relative;
    z-index: 2;
}

ul.header--menu {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header--menu li {
    padding-left: 30px;

}


.header--menu a.nav--link {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #FFFFFF;
    text-transform: capitalize;
}


.header--menu a.nav--link.active {
    padding: 8px 16px;
    width: 100px;
    height: 35px;
    background: #43A833;
    border-radius: 13px;
}

/*  */