.section--title {
    width: 300px;
    height: 80px;
    background: #43A833;
    border-radius: 13px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    /* line-height: 48px; */
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 0;
    text-transform: capitalize;

}


.container-xxl {
    padding: 0 50px !important;
}

@media screen and (max-width : 767px) {
    .container-xxl {
        padding: 0 25px !important;
    }

}