footer {
    background: url('../../assets/images/Group.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    padding: 20px 0;
}

.footer--careers h5 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-bottom: 0;
    text-transform: capitalize;
}

.footer--links img {
    max-height: 40px;
    margin-left: 15px;
    cursor: pointer;
}




.footer--links a {
    text-decoration: none;
    border: 1px solid rgba(72, 190, 53, 1);
    border-radius: 100px;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.footer--links a span.icon {
    font-size: 20px;
    color: rgba(72, 190, 53, 1);
    ;
}

@media screen and (max-width : 500px) {
    /* footer {
        padding: 10px 0;
    } */

    .footer--careers h5 {
        font-size: 25px;
    }

    .footer--links a {
        width: 40px;
        height: 40px;
    }

    .footer--links a span.icon {
        font-size: 17px;
    }


}